* {
    box-sizing: border-box;
}

body {
    background-color: #fff;
    font-family: POPPINS;
    line-height: 1.4;
    margin: 0;
}

img {
    width: 100%;
    border-radius: 20px;

}

header {
    color:black
}

h2 {
    text-transform: capitalize;
}



.limited a:link,
.limited a:visited {
  display: inline-block;
  padding: .4em 1em;
  background-color: #000;
  color: #fff;
  text-decoration: none;
  border: 2px solid #000;
  border-radius: 4px;
  font-weight: bold;

  margin-top: auto;
}

.limited a:hover,
.limited a:focus {
  background-color: #fff;
  color: #222;
}


/* .skills a:link,
.skills a:visited {
    display: inline-block;
    padding: .8em 1em;
    background-color: #000;
    border: 2px solid black;
    color: #fff;
    text-decoration: none;
    border-radius: 4px;

    margin-top: auto;

} 


.skills a:hover {
    background-color: #fff;
    color: #000;
} */


#sweethearts-affair .images {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(2,1fr);

    margin-bottom: 50px;

    grid-template-areas: 
    "img1 img1 img1"
    "img2 img3 img4"

    
}

#sweethearts-affair .images img:nth-child(1){
  grid-area: img1;
}

#sweethearts-affair .images img:nth-child(1){
  grid-area: img2;
}

#sweethearts-affair .images img:nth-child(1){
  grid-area: img3;
}

#sweethearts-affair .images img:nth-child(1){
  grid-area: img4;
}





/* .logo {
    display: flex;
    flex-direction: row; 
    justify-content: flex-start;
    justify-content: space-between;
    gap: 20px; 

}

nav ul {
    display: flex;
    flex-direction: row; 
    justify-content: flex-end;
    justify-content: space-between;
    text-decoration: none;
    gap: 20px; 
}

ul li {
    text-decoration: none;
    list-style: none;
    padding: 0;
}

nav a:link,
nav a:visited {
    color: #fff;
    list-style: none;
    text-decoration: none;
}

nav a:hover {
    text-decoration: none;
    color: #222;
} */


footer {
    background-color: #000;
    color: white;
    text-align: center;
    line-height: 3;
    margin: 0;
}



    /* Create a separate folder for your CSS file and place style.css within it. DONE
    Mobile-first approach in the styling (default styling is suitable for mobile and properties are adjusted for tablet and desktop when media queries are introduced).
    The maximum width of the container is 1200px
    Use the 'Poppins' Google font for the webpage
    Colours values used in the layout #fff, #222, #000,  and #f8fafc.
    Font sizes for heading levels:
        h1 = 2.027rem
        h2 = 1.802rem
        h3 = 1.266rem
    Use of CSS Grid properties for a minimum of one element
    Use of CSS Flexbox properties for a minimum of one element 
    No inline styles are used in the CSS *see note below
    Add a min-width media query for the screen size of 768px and above and adjust page to match the screenshot labeled 'product-page-768'
    Add a min-width media query for the screen size of 960px and above and adjust page to match the screenshot labeled 'product-page-960'
    CSS is properly formatted
    Overall design executed well and closely matches the provided mockup
    CSS code is validated using https://jigsaw.w3.org/css-validator/#validate_by_input */
